In [14]:
import pandas as pd
import numpy as np

In [48]:
data = pd.read_csv('ramen-ratings.csv')
data.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [49]:
data.shape

(2580, 7)

In [50]:
data['Style'].unique().tolist()

['Cup', 'Pack', 'Tray', 'Bowl', 'Box', 'Can', 'Bar', nan]

In [51]:
data[pd.isna(data['Style'])]

      Review #   Brand            Variety Style Country Stars Top Ten
2152       428  Kamfen     E Menm Chicken   NaN   China  3.75     NaN
2442       138    Unif  100 Furong Shrimp   NaN  Taiwan     3     NaN

In [58]:
data[pd.isna(data['Style'])].index

Int64Index([2152, 2442], dtype='int64')

In [59]:
data = data.drop(data[pd.isna(data['Style'])].index, axis=0)

In [60]:
data.shape

(2578, 7)

In [40]:
omega1 = data['Style'].unique().tolist()
omega1

['Cup', 'Pack', 'Tray', 'Bowl', 'Box', 'Can', 'Bar']

* Probabilidad de obtener un ramen de tipo Cup

In [41]:
data[data['Style'] == 'Cup'].shape[0] / data.shape[0]

0.17455391776570986

* ¿Cuantos grupos de a 2  puedo elegir sin que se repitan elemenotos?

In [42]:
contador = 0
grupos = list()

for el1 in omega1:
    for el2 in omega1:
        if el1 != el2:
            contador += 1
            grupos.append([el1, el2])

print(f'Un total de {contador} grupos')

Un total de 42 grupos

In [43]:
porcentajes = dict()

for el in omega1:
    percentage = data[data['Style'] == el].shape[0] / data.shape[0]
    porcentajes[el] = percentage

porcentajes

{'Cup': 0.17455391776570986,
 'Pack': 0.5938712179984484,
 'Tray': 0.04189294026377036,
 'Bowl': 0.18657874321179208,
 'Box': 0.0023273855702094647,
 'Can': 0.0003878975950349108,
 'Bar': 0.0003878975950349108}

In [46]:
total = 0

for key in porcentajes.keys():
    total += porcentajes[key]

total

1.0

* Si escogo al azar un local de ramen, ¿cuál es la probabilidad de que su estilo sea Bowl?

In [67]:
print(f"La probabilidad es de un {round(porcentajes['Bowl'] * 100, 2)}%")

La probabilidad es de un 18.66%

* Si es cogo un local al azar, cual es la probabilidad de que, sabiendo que es de tailandia, sirva del estilo Box

$A:\text{ Local de tailandia }B:\text{ Estilo Box}$

$P(B|A)\ =\ \frac{P(A\ \cap\ B)}{P(A)}$

In [87]:
resultado = data[(data['Style'] == 'Bowl') & (data['Country'] == 'Thailand')].shape[0] / data[data['Country'] == 'Thailand'].shape[0]

print(f"La probabilidad es de un {round(resultado * 100, 2)}%")

La probabilidad es de un 23.04%

In [77]:
data['Stars'].unique()

array(['3.75', '1', '2.25', '2.75', '4.75', '4', '0.25', '2.5', '5',
       '4.25', '4.5', '3.5', 'Unrated', '1.5', '3.25', '2', '0', '3',
       '0.5', '4.00', '5.0', '3.50', '3.8', '4.3', '2.3', '5.00', '3.3',
       '4.0', '3.00', '1.75', '3.0', '4.50', '0.75', '1.25', '1.1', '2.1',
       '0.9', '3.1', '4.125', '3.125', '2.125', '2.9', '0.1', '2.8',
       '3.7', '3.4', '3.6', '2.85', '3.2', '3.65', '1.8'], dtype=object)

* ¿Cuál es la probabilidad de escoger un local de mas de 4 estrellas?

In [83]:
print(f"La probabilidad es de un {round(data[data['Stars']>'4'].shape[0] / data.shape[0] * 100, 2)}%")

La probabilidad es de un 28.94%

* ¿Cuál es la probabilidad de escoger un local de Japón sabiendo que es de mas de 4 estrellas?

$A:\text{ Local de 4 estrellas }B:\text{ local de japón}$

$P(B|A)\ =\ \frac{P(A\ \cap\ B)}{P(A)}$

In [89]:
resultado = data[(data['Country'] == 'Japan') & (data['Stars'] > '4')].shape[0] / data[data['Stars'] > '4'].shape[0]

print(f"La probabilidad es de un {round(resultado * 100, 2)}%")

La probabilidad es de un 21.58%